/* 
	CSS by Dan Høegh
	UCN MMD 2021 

*/

body {
	font-family: sans-serif;
	padding: 5vw;
	font-size: 4vw;
	line-height: 1.4;
}

@media (min-width: 641px) {
	body {
		padding: .8rem;
		font-size: 1rem;
	}
}


/* test styles */

body {
	background-color: var(--frp-color-background);	
	padding: 0;
}

/* button */
.btn {
	display: inline-block;
	text-decoration: none;
	border-radius: var(--frp-radius-component-s);
	background-color: var(--frp-color-primary);
	color: var(--frp-color-on-primary);
	box-shadow: var(--frp-shadow);
	transition: box-shadow .2s ease-out;
}

.btn.mwa {
	background-color: var(--frp-color-accent);
	color: var(--frp-color-on-accent);
}

.btn:active {
	box-shadow: var(--frp-shadow-depressed);
}

@media (min-width: 641px){
	.flex > div {
		width: 50%;
	}
}

@media (max-width: 640px){
	.flex {
		display: block;
	}

	.flex > div {
		width: 100%;
		margin-bottom: var(--frp-density-m);
	}
}

h1, p {
	margin-bottom: var(--frp-density-m);
}

.card {
	margin: 20px;
	background-color: var(--frp-color-primary);
	color: var(--frp-color-on-primary);
	padding: var(--frp-density-m);
}

.price {
	font-size: 1.2rem;
	font-weight: 800;
}
.oldPrice {
	text-decoration: line-through;
	color: red; 
}